body {
    margin:0;
    color: #ffffff;
    font: 400 14px/1 "MVideo", Arial, Helvetica, sans-serif;
    background:#000;
	-webkit-font-smoothing: antialiased;
}
img {
    display: block;
    max-width: 100%;
    border-style:none;
}
a {
    color:#ffffff;
    outline:none;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}
a:hover {
    text-decoration:none;
}
* {
    outline:none;
}
input, textarea, select {
   font:100% "MVideo", Arial, Helvetica, sans-serif;
    vertical-align:middle;
    -webkit-appearance:none;
   -webkit-border-radius: 0;
}
input:not([type="radio"], [type="checkbox"]), textarea, select {
    font:100% Arial, Helvetica, sans-serif;
    vertical-align:middle;
    -webkit-appearance:none;
}
form, fieldset {
    margin:0;
    padding:0;
    border-style:none;
	min-width: 0;
}
fieldset {
     /*max-width: 100%;*/
    /*display: table-cell;*/
}
header,
nav,
section,
article,
aside,
footer,
figure,
menu,
dialog {
    display: block;
}
ul, ol {list-style:none; margin:0; padding:0;}
dl {margin:0 0 10px;}
nav ul, nav ol {list-style:none; list-style-image: none; margin:0; padding:0;}
ul li {list-style: none; list-style: none outside;}
p {margin:0 0 10px;}
h1 {font-size:40px; line-height:42px; margin:0 0 20px;}
h2 {font-size:30px; line-height:32px; margin:0 0 18px;}
h3 {font-size:24px; line-height:26px; margin:0 0 16px;}
h4 {font-size:22px; line-height:24px; margin:0 0 14px;}
h5 {font-size:20px; line-height:22px; margin:0 0 12px;}
h6 {font-size:18px; line-height:20px; margin:0 0 10px;}
a { text-decoration:none; outline:none;}
button,
input[type="submit"],
input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}
textarea:-moz-placeholder {color:#000000;}
textarea::-moz-placeholder {color:#000000;opacity:1;}
textarea::-webkit-input-placeholder {color:#000000;}
textarea:-ms-input-placeholder {color:#000000;}
textarea::placeholder {color:#000000;}
input:-moz-placeholder {color:#000000;}
input::-moz-placeholder {color:#000000;opacity:1;}
input::-webkit-input-placeholder {color:#000000;}
input:-ms-input-placeholder {color:#000000;}
input::placeholder {color:#000000;}
/* =============================================================================
	MAIN
	========================================================================== */
html,body {
    height: 100%;
    margin: 0;
     min-width: 320px;
    -webkit-text-size-adjust: none;
}
#wrapper {
    overflow: hidden;
    min-height: 100%;
}

* html #wrapper {
    height: 100%;
}
.container{
    max-width: 940px;
    padding: 0;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#header{
    position: absolute;
    z-index: -999;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    /*padding: 5vh 0 0;*/
    min-height: 74px;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}
.fixed-header #header{
    position: fixed;
    opacity: 1;
    z-index: 9;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}
#header .container{
    min-height: 74px;
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.open-menu{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 74px; /*width: 13vh;*/
    height: 74px; /*height: 9.5vh;*/
    background: #8bbe4b url("../images/bg-1.png") no-repeat center;
}
.open-menu:hover{
    opacity: 0.8;
}
#nav {
    position: fixed;
    z-index: -1;
    overflow-y: auto;
    height: 100%;
    top: -100%;
    left: 0;
    opacity: 0;
    padding: 100px 10px 20px;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: block;
    -webkit-transition: all 0s ease .2s, top .9s ease, opacity .2s ease;
    -o-transition: all 0s ease .2s, top .9s ease, opacity .2s ease;
    transition: all 0s ease .2s, top .9s ease, opacity .2s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#nav.open {
    top: 0;
    left: 0;
    opacity: 1;
}
#nav .holder-nav {
    overflow-y: auto;
    height: 100%;
}
#nav ul{
    max-width: 300px;
    margin: 0 auto;
}
#nav li {
    margin: 0 0 15px;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
}
#nav li a:hover{
    opacity: 0.6;
}
.logo {
    display: block;
    background:url("../images/bg-logo.png") no-repeat;
    background-size: cover; /*background-size: contain;*/
    width: 60px; /*width: 13vh;*/
    height: 44px; /*height: 10vh;*/
    text-indent:-9999px;
    overflow:hidden;
    margin:0;
}
.logo a{
    display: block;
    height: 100%;
}
.block-header{
    font-size: 0;
    line-height: 0;
}
.brand-logo{
    display: inline-block;
    vertical-align: middle;
    width: 72px; /*width: 24vh;*/
    padding-right: 15px;
}
.cal-back{
    display: inline-block;
    vertical-align: middle;
    margin: 12px 67px;
    padding: 15px 32px;
    font-size: 12px;
    line-height: 1;
    color: #8bbe4b;
    border: 1px solid #8bbe4b;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
}
.cal-back:hover{
    color: #ffffff;
    background: #8bbe4b;
}
.tel-head{
    position: relative;
    padding: 0 0 0 22px;
    margin: 0 12px 0 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 1;
}
.tel-head:before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin: -9px 0 0;
    background: url("../images/bg-3.png") no-repeat;
    width: 10px;
    height: 19px;
}

.banner__img {
    width: 100%;
    height: auto;
}

.banner__tab {
    display: none;
}

.banner__mob {
    display: none;
}

.promo-slider{
    height: 100vh;
    margin: 0 0 29vh;
    position: relative;
    z-index: 3;
}
.promo-slider .slick-track,
.promo-slider .slick-list{
    height: 100%;
}
.promo-slider .slick-slide{
    background-size: auto 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    padding: 75px 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.promo-slider .container{
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}
.promo-slider .holder-text{
    flex: 0 0 58vh;
    width: 58vh;
    font-weight: 300;
    font-size: 2.3vh;
    padding: 6vh 0 0;
}
.promo-slider p{
    margin: 0 0 6vh;
}
.promo-slider .title{
    display: block;
    margin: 0 0 6vh;
    font-size: 3.2vh;
}
.promo-slider h2{
    font-size: 4.6vh;
    line-height: 1;
    margin: 0 0 2vh;
}
.fast{
    display: block;
    padding: 0 0 3vh;
    margin: 0 0 4.5vh;
    position: relative;
    font-size: 3.75vh;
    color: #8bbe4b;
}
.fast span{
    color: #ffffff;
}
.fast:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 121px;
    border-bottom: 1px solid #94ca50;
}
.speed-list{
    font-size: 0;
    line-height: 0;
    padding: 11vh 0 2vh 0;
}
.speed-list li{
    display: inline-block;
    vertical-align: top;
    margin: 0 2.5vh 10px 0;
    width: 13vh;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.speed-list li:last-child{
    margin: 0 0 10px;
}
.text-right{
    text-align: right;
}
.btn-choice{
    display: inline-block;
    vertical-align: top;
    padding: 3vh 9vh;
    font-size: 2.3vh;
    color: #ffffff;
    background: #8bbe4b;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
}
.btn-choice:hover{
    opacity: 0.8;
}
.slick-dots{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    font-size: 0;
    line-height: 0;
    text-align: center;
}
.slick-dots li{
    display: inline-block;
    vertical-align: top;
    margin: 0 6px;
}
.slick-dots button{
    display: block;
    cursor: pointer;
    padding: 0;
    width: 15px;
    height: 15px;
    overflow: hidden;
    text-indent: -9999px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}
.slick-dots button:hover,
.slick-dots li.slick-active button{
    background: #8bbe4b;
    border-color: #8bbe4b;
}
.promo-slider .holder-img{
    position: relative;
    max-width: 257px;
    width: 100%;
    height: 100%;
    margin: 0 0 0 19vh;
    padding: 6vh 0 20vh;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.promo-slider .holder-img img{
    display: inline-block;
    vertical-align: top;
    max-height: 100%;
}
.promo-slider .holder-img:before{
    content: '';
    position: absolute;
    z-index: -2;
    left: 50%;
    top: 50%;
    background: url("../images/bg-9.png") no-repeat;
    width: 1639px;
    height: 1378px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.promo-header {
    height: 14vh;
    padding-top: 4vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.promo-header .container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}
.promo-header .promo-logo a img {
    height: 10vh;
}
.promo{
    height: 87vh;
    padding: 0 0 1vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.promo .container {
    display: flex;    
    align-items: center;
    height: 100%;
}
.promo .holder-img{
/*    flex: 0 0 47vh;
    width: 47vh;*/
    margin: 0 0 0 -7vh;
    max-height: 100%;
}
.promo .holder-img img {
    /*height: 100%; */
    width: auto;
}
.promo .holder-text{
    padding: 0 0 5vh 7vh;
    flex: 1 1 auto;
    color: #ffffff;
    font-weight: 300;
    font-size: 12px;
    line-height: 1;
}
.promo span{
    display: block;
    font-size: 3vh;
    line-height: 3vh;
    margin: 0 0 3vh;
}
.promo h2{
    margin: 0 0 4vh;
    font-weight: 300;
    color: #8bbe4b;
    font-size: 5vh;
    line-height: 8vh;
}









.converse{
    position: relative;
    background: #8bbe4b;
    padding: 13px 0 24px;
}
.converse:before{
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: -535px;
    background: url("../images/bg-20.png") no-repeat;
    background-size: 100% 100%;
    width: 525px;
    height: 631px;
}
.converse .container{
    display: flex;
    align-items: center;
}
.converse .holder-img{
    max-width: 849px;
    margin: 0 0 0 -218px;
}
.converse .holder-text{
    text-align: center;
    font-size: 30px;
    line-height: 48px;
}
.converse p{
    margin: 0 0 40px;
}
.black-btn{
    display: inline-block;
    vertical-align: top;
    padding: 24px 55px;
    background: #131313;
    color: #ffffff;
    font-size: 17px;
    line-height: 1;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}
.black-btn:hover{
    opacity: 0.8;
}
.section-selection{
    padding: 67px 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}
.section-selection h2{
    font-weight: 300;
    font-size: 36px;
    line-height: 1;
}
.section-selection p{
    color: #8bbe4b;
}
.section-selection .group{
    padding: 20px 0 0;
}
.holder-slider-product{
    float: right;
    width: 350px;
    padding: 0 31px 0 0;
    padding-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.title-slider{
    display: block;
    margin: 0 0 27px;
    font-weight: 300;
    font-size: 24px;
    line-height: 1;
}
.slider-product .holder-block{
    background: #ffffff;
    padding: 10px 20px;
    overflow: hidden;
    border-radius: 38px;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
}
.slider-product .slick-next,
.slider-product .slick-prev{
    cursor: pointer;
    display: block;
    margin: 0 auto 6px;
    border: none;
    padding: 0;
    overflow: hidden;
    text-indent: -999px;
    background: url("../images/bg-34.png") no-repeat;
    width: 20px;
    height: 14px;
    -webkit-transition: allg  200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}
.slider-product .slick-next:hover,
.slider-product .slick-prev:hover{
    opacity: 0.8;
}
.slider-product .slick-prev{
    transform: rotate(180deg) rotateY(0deg);
    -webkit-transform: rotate(180deg) rotateY(0deg);
    -moz-transform: rotate(180deg) rotateY(0deg);
    -o-transform: rotate(180deg) rotateY(0deg);
    -ms-transform: rotate(180deg) rotateY(0deg);
}
.slick-vertical .slick-slide{
    padding: 3px 0 25px;
}
.slider-product .holder-img{
    /*max-width: 155px;
    min-height: 160px;*/
    margin: 5px 20px;
}
.slider-product p{
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
    color: #131313;
    text-align: center;
}
.price{
    padding: 0 10px;
    /*margin: 0 0 3px;*/
    display: flex;
    justify-content: space-between;
}
.slider-product .price {
    padding: 10px;
}
.ruble{
    display: inline-block;
    vertical-align: top;
    padding: 0 10px 0 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 1;
    color: #8bbe4b;
}
.ruble span{
    font-size: 9px;
}
.btn-buy{
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    font-size: 10px;
    line-height: 1;
}
.btn-buy:hover{
    opacity: 0.8;
}
.btn-buy span{
    display: inline-block;
    padding: 5px 16px;
    background: #94ca50;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
.want-list{
    overflow: hidden;
    padding: 0 2% 0 0;
    padding-top: 10px;
    list-style: none; /* убираем дефорлтные цифры */
    counter-reset: point; /* задаем переменную для счетчика */
}
.want-list li{
    position: relative;
    margin: 0 0 29px;
}
.want-list > li:before{
    position: absolute;
    left: 0;
    top: -5px;
    width: 34px;
    height: 34px;
    font-weight: 300;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #ffffff;
    background: #8bbe4b;
    content: counter(point); /* выводим значение переменной */
    counter-increment: point 1; /* увеличваем счетчик на 1 */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.section-list{
    display: block;
    padding: 0 0 0 65px;
    margin: 0 0 29px;
    font-size: 24px;
    line-height: 1;
}
.list-radio{
    font-size: 0;
    line-height: 0;
}
.list-radio li{
    display: inline-block;
    vertical-align: top;
    margin: 0 13px 16px 0;
}
.list-radio label{
    display: block;
    cursor: pointer;
}
.list-radio span{
    display: none;
}
.list-radio input{
    display: none;
}
.list-radio .holder-img{
    position: relative;
    overflow: hidden;
    border: 1px solid #ffffff;
    padding: 12px;
    width: 115px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.list-radio .holder-img span{
    position: absolute;
    opacity: 0;
    display: block;
    top: 50%;
    left: 0;
    right: 0;
    font-weight: 600;
    color: #7dab43;
    font-size: 16px;
    text-align: center;
    line-height: 1;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
}
.list-radio .holder{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.list-radio .holder:before{
    opacity: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.65);
}
.list-radio input[type="checkbox"]:checked+.holder-img,
.list-radio input[type="radio"]:checked+.holder-img{
    border-color: #7dab43;
}
.list-radio label:hover .holder:before,
.list-radio label:hover span,
.list-radio input[type="checkbox"]:checked+.holder-img .holder:before,
.list-radio input[type="checkbox"]:checked+.holder-img span,
.list-radio input[type="radio"]:checked+.holder-img .holder:before,
.list-radio input[type="radio"]:checked+.holder-img span{
    opacity: 1;
}
.radio-text{
    text-align: center;
    overflow: hidden;
    border: 1px solid #ffffff;
    padding: 12px;
    width: 115px;
    height: 115px;
    background: #000;
    color: #7dab43;
    font-size: 14px;
    line-height: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.list-radio input[type="checkbox"]:checked+.radio-text,
.list-radio input[type="radio"]:checked+.radio-text{
    border-color: #7dab43;
}
.radio-text > div{
    background: #ffffff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.radio-text span{
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: -0.05em;
}
.radio-text span span{
    display: inline-block;
    width: auto;
    font-size: 25px;
}
.my-constructor{
    padding: 20px 0;
}
.my-constructor .holder-img{
    width: 90px;
}
.title-constructor{
    display: block;
    margin: 0 0 19px;
    font-weight: 300;
    font-size: 36px;
}
.constructor-group{
    display: flex;
}
.constructor-group > div{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.constructor-one{
    width: 49%;
}
.constructor-two{
    width: 28%;
}
.constructor-three{
    width: 23%;
}
.title-blander{
    display: block;
    margin: 0 0 8px;
    min-height: 100px;
    padding: 0 0 0 24px;
    position: relative;
    font-weight: 300;
    font-size: 24px;
    color: #8bbe4b;
}
.title-blander:before{
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    background: url("../images/bg-39.png") no-repeat;
    width: 9px;
    height: 20px;
}
#secondary{
    padding: 20px 0 20px;
}
#secondary .block-secondary{
    display: none;
}
#secondary .block-secondary.open{
    display: block;
}
.secondary-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.secondary-flex .holder-text{
    position: relative;
    flex: 0 0 50%;
    width: 50%;
    padding: 0 2%;
    text-align: center;
    font-weight: 300;
    line-height: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.secondary-flex span{
    display: block;
    font-size: 24px;
    margin: 0 0 38px;
}
.secondary-flex p{
    color: #fff;
    font-size: 18px;
    line-height: 30px;
}
.secondary-flex .holder-img{
    position: relative;
    flex: 0 0 50%;
    width: 50%;
    height: 55vh;
    text-align: center;
}
.secondary-flex .holder-img img{
    /*height: 100%; */
}

.secondary-flex .holder-img:before{
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    background: url("../images/bg-60.png") no-repeat;
    width: 857px;
    height: 642px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.video-block{
    margin: 10px 0 105px;
}
.video-block .group {
    display: flex;
    justify-content: space-between;
}
.video-block .video{
    width: 45%;
    float: left;
}
.video{
    width: 100%;
    margin: 53px 0 0px;
}
.video img{
    width: 100%;
}

.converse.clone{
    padding: 81px 0 92px;
}
.converse .holder-text {
    margin: 0 0 0 5%;
}
.converse.clone:before{
    background: url("../images/bg-44.png") no-repeat;
    width: 868px;
    height: 431px;
    left: 55%;
    bottom: 0;
    top: auto;
}
.models{
    padding: 77px 0 45px;
}
.models h3{
    text-align: center;
    font-weight: 300;
    margin: 0 0 76px;
    font-size: 36px;
    line-height: 1;
}
.list-models{
    font-size: 0;
    line-height: 0;
    position: relative;
    z-index: 3;
}
.list-models li{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 28px;
    line-height: 1;
    color: #000000;
    /*padding: 0 30px; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.list-models .holder-block{
    background: #ffffff;
    overflow: hidden;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ccc;
    border-radius: 0; /*48 */
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.list-models .holder-block img {
    width: 100%;
    height: auto;
}
.list-models .holder-img{
    text-align: center;
    min-height: 260px;
    padding: 0 10vh;
}
.list-models img{
    display: inline-block;
    vertical-align: top;
}
.list-models p{
    margin: 0 0 36px;
}
.list-models .ruble{
    font-size: 36px;
}
.list-models .ruble span{
    font-size: 20px;
}
.list-models .btn-buy{
    font-size: 14px;
}
.list-models .btn-buy:hover{
    opacity: 0.8;
}
.list-models .btn-buy span{
    padding: 15px 51px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}
.converse.clone-two{
    padding: 0;
}
.converse.clone-two:before {
    left: -10px;
    top: -948px;
    background: url(../images/bg-56.png) no-repeat;
    width: 446px;
    height: 1085px;
}
.converse.clone-two .holder-img{
    position: relative;
    top: -81px;
    margin: 0 0 -71px -183px;
    max-width: 877px;
}
.video-review{
    padding: 77px 0 18px;
}
.review-title{
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    line-height: 1;
}
.review-title span{
    display: inline-block;
    vertical-align: top;
    padding: 0 0 16px;
    border-bottom: 1px solid #94ca50;
}
.slider-review .slick-next,
.slider-review .slick-prev{
    border: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: -999px;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -12px 0 0;
    background: url("../images/bg-69.png") no-repeat;
    width: 20px;
    height: 44px;
}
.slider-review .slick-next{
    left: auto;
    right: 0;
    background: url("../images/bg-70.png") no-repeat;
}
.slider-review{
    padding: 64px 20px 42px;
}
.review{
    padding: 0 6% 1px;
    font-size: 18px;
    margin: 0 0 33px;
    line-height: 22px;
    font-weight: 300;
}
.list-star{
    font-size: 0;
    line-height: 0;
    margin: 0 0 19px;
}
.list-star li{
    display: inline-block;
    vertical-align: top;
    margin: 0 4px 0 0;
    width: 16px;
}
.review strong{
    display: block;
    margin: 0 0 22px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
}
#footer {
    position:relative;
    padding: 24px 0;
    width: 100%;
    background-color: #343434;
    color: rgba(255, 255, 255, 0.52);
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
}
#footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.f-logo {
    display: block;
    background:url("../images/bg-logo.png") no-repeat;
    background-size: cover;
    width: 60px;
    height: 44px;
    text-indent:-9999px;
    overflow:hidden;
    margin:0;
}
.f-logo a{
    display: block;
    height: 100%;
}
.f-nav{
    font-size: 0;
    line-height: 0;
}
.f-nav li{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
    font-style: italic;
}
.f-nav a{
    color: rgba(255, 255, 255, 0.52);
}
.f-nav a:hover{
    color: rgba(255, 255, 255, 1);
}
.f-brand-logo{
    width: 72px;
}
.btn-window{
    display: block;
    position: fixed;
    overflow: hidden;
    right: 0;
    top: 50%;
    z-index: 80;
    height: 240px;
    width: 50px;
    background: #8bbe4b;
    color: #ffffff;
    font-size: 16px;
    line-height: 1;
    border-radius: 28px 0 0 28px;
    -webkit-border-radius: 28px 0 0 28px;
    -moz-border-radius: 28px 0 0 28px;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
}
.btn-window:hover{
    opacity: 0.8;
}
.btn-window span{
    display: block;
    width: 240px;
    height: 50px;
    margin: 65px 0 0 -78px;
    transform: rotate(-90deg) rotateY(0deg);
    -webkit-transform: rotate(-90deg) rotateY(0deg);
    -moz-transform: rotate(-90deg) rotateY(0deg);
    -o-transform: rotate(-90deg) rotateY(0deg);
    -ms-transform: rotate(-90deg) rotateY(0deg);
}
.pop-up-window{
    position: fixed;
    z-index: 99;
    right: -325px;
    top: 50%;
    width: 325px;
    padding: 25px 0 0;
    border: 2px solid #8bbe4b;
    border-right: 0;
    background: #8bbe4b;
    border-radius: 45px 0 0 45px;
    -webkit-border-radius: 45px 0 0 45px;
    -moz-border-radius: 45px 0 0 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: right 200ms linear;
    -moz-transition: right 200ms linear;
    -ms-transition: right 200ms linear;
    -o-transition: right 200ms linear;
    transition: right 200ms linear;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
}
.pop-up-window.active{
    right: 0;
    -webkit-transition: right 200ms linear;
    -moz-transition: right 200ms linear;
    -ms-transition: right 200ms linear;
    -o-transition: right 200ms linear;
    transition: right 200ms linear;
}
.title-window{
    display: block;
    margin: 0 0 24px;
    padding: 0 10px 0 42px;
    font-size: 22px;
    line-height: 1;
    color: #ffffff;
}
.pop-up-window .holder-block{
    background: #ffffff;
    padding: 8px 0 22px;
    border-radius: 0 0 0 45px;
    -webkit-border-radius: 0 0 0 45px;
    -moz-border-radius: 0 0 0 45px;
}
.pop-up-window .holder-img{
    max-width: 234px;
    margin: 0 auto;
    position: relative;
}
.pop-up-window .holder-img span{
    position: absolute;
    right: 12px;
    width: 135px;
    top: 6px;
    text-align: center;
    font-size: 15px;
    line-height: 1;
    color: #131313;
}
.markdown{
    display: flex;
    align-items: flex-end;
    padding: 0 15px;
}
.markdown div{
    flex: 0 0 50%;
    width: 50%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.markdown span{
    display: block;
    font-size: 25px;
    line-height: 1;
    color: #8bbe4b;
}
.markdown span em{
    font-style: normal;
    font-size: 18px;
}
.markdown span.crossed-out{
    display: inline-block;
    vertical-align: top;
    margin: 0 0 6px;
    padding: 0 5px;
    position: relative;
    color: #010101;
    font-size: 19px;
    line-height: 1;
}
.markdown span.crossed-out em{
    font-size: 14px;
}
.markdown span.crossed-out:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-top: 1px solid #8bbe4b;
    transform: rotate(-15deg) rotateY(0deg);
    -webkit-transform: rotate(-15deg) rotateY(0deg);
    -moz-transform: rotate(-15deg) rotateY(0deg);
    -o-transform: rotate(-15deg) rotateY(0deg);
    -ms-transform: rotate(-15deg) rotateY(0deg);
}
.btn-green{
    display: block;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    padding: 11px 5px;
    background: #94ca50;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
}

/* =============================================================================
	HasLayot
	========================================================================== */
.group:after {
    display:block;
    content:"";
    clear:both;
}
.resolutions630{
    display: none;
}
@media screen and (min-width: 1724px){
    .promo .container{
        max-width: 940px;
    }
}
@media screen and (max-width: 1724px){
    .promo .holder-img{
        margin: 0 0 0 -14vh;
    }
    .converse .holder-img {
        max-width: 680px;
        margin: 0;
    }
}
@media screen and (min-width: 1000px){
    .section-selection h2, .title-constructor, 
    .review-title, .models h3 {
        font-size: 4vh;
        line-height: 6vh;
    } 
    .section-selection {
        font-size: 2.2vh;
        line-height: 3.5vh;
    }
    .section-list, .title-slider {
        font-size: 3vh;
        line-height: 4vh;
    }
    .converse .holder-text {
        font-size: 3vh;
        line-height: 5vh;
    }
}
@media screen and (max-width: 1600px){
    #header{
        padding-left: 52px;
        min-height: 50px;
    }
    .open-menu {
        height: 50px;
        width: 50px;
    }
    #header .container{
        width: 100%;
        max-width: 100%;
        min-height: 50px;
        height: 50px;
    }
    .logo {
        width: 54px;
        height: 40px;
    }
    .cal-back {
        margin: 12px 67px;
        padding: 10px 25px;
        font-size: 12px;
        line-height: 1;
        color: #8bbe4b;
        border: 1px solid #8bbe4b;
        border-radius: 18px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
    }
    .converse:before{
        top: -465px;
        width: 441px;
        height: 570px;
    }
    .converse .holder-text {
        margin: 0 0 0 2%;
    }
    .converse.clone {
        padding: 0;
    }
    .converse.clone {
        padding: 81px 0 92px;
    }

    .converse.clone .holder-text{
        padding: 0;
    }
    .converse.clone-two {
        padding: 20px 0;
    }
    .converse.clone-two .holder-img {
        margin: 0 0 -71px 0;
        max-width: 670px;
    }
    .converse.clone:before {
        background-size: contain;
        width: 603px;
        height: 293px;
        left: 58%;
    }
    .title-blander{
        font-size: 18px;
        line-height: 1.2;
        min-height: 75px;
    }
    .holder-slider-product{
        width: 293px;
    }
    .section-list{
        margin-bottom: 18px;
    }
    .list-radio .holder-img {
        width: 96px;
        padding: 10px;
    }
    .radio-text {
        width: 96px;
        height: 96px;
        padding: 10px;
    }
    .radio-text span,
    .list-radio .holder-img span{
        font-size: 12px;
    }
    .radio-text span span{
        font-size: 15px;
    }
    .speed-list li {
        margin: 0 3vh 10px 0;
        width: 13vh;
    }
    .slider-product .holder-img{
        margin: 5px 25px;
    }
    .list-models li {
        font-size: 3vh;
    }
    .list-models .ruble {
        font-size: 4vh;
    }
}
@media screen and (max-width: 1560px){
    .converse.clone {
        padding: 41px 0 52px;
    }
    .converse p {
        margin: 0 0 20px;
    }
    #secondary{
        padding: 10px 0 30px;
    }
}
@media screen and (max-width: 1350px){
    .video-review .holder-block {
        float: none;
        width: 100%;
        padding: 0 0 40px;
    }
    .speed-list li {
        margin: 0 2vh 10px 0;
        width: 13vh;
    }
}
@media screen and (max-width: 1220px){
    .container {
        max-width: 700px;
    }
    .banner__desc {
        display: none;
    }
    .banner__tab {
        display: block;
    }
    .section-selection {
        padding: 40px 0;
    }
    .list-radio .holder-img {
        width: 90px;
    }
    .converse.clone-two .holder-img{
        margin: 0;
        top: 0;
    }
    .converse:before{
        top: -372px;
        width: 376px;
        height: 470px;
    }
    .speed-list li {
        width: 12vh;
    }
    .constructor-group {
        flex-wrap: wrap;
    }
    .constructor-one {
        width: 100%;
        margin-bottom: 30px;
    }
    .constructor-two {
        width: auto;
        margin-right: 50px;
    }
    .constructor-three {
        width: auto;
    }
    .video-block {
        margin-top: 30px;
    }
    .list-models .holder-img {
        padding: 0;
    }
    .price {
        flex-direction: column;
    }
    .list-models .btn-buy{
        margin-top: 10px;
    }
}
@media screen and (max-width: 1000px){
    #footer .container{
        display: block;
        text-align: center;
    }
    .f-logo {
        margin: 0 auto 12px;
    }
    .f-nav li {
        display: block;
        margin: 0 0 10px;
    }
    .f-brand-logo{
        display: block;
        margin: 0 auto 10px;
    }
    .converse:before{
        display: none;
    }
    .converse.clone .container{
        display: block;
    }
    .converse .holder-text br{
        display: none;
    }
    .promo .holder-img {
        flex: 0 0 360px;
        width: 360px;
    }
    .promo h2 {
        font-size: 40px;
        line-height: 52px;
    }
    .speed-list {
        padding: 10vh 0 18px 0;
    }
}
@media screen and (max-width: 930px){
    .constructor-group{
        display: block;
    }
    .constructor-group > div{
        width: 100%!important;
        margin: 0 0 15px;
    }
    .title-blander{
        min-height: 0;
    }
    .title-blander br{
        display: none;
    }
    .list-models .holder-img {
        min-height: 220px;
    }
}
@media screen and (max-width: 900px){
    .converse .container{
        display: block;
    }
    .converse .holder-text{
        margin: 0;
    }
    .converse .holder-img{
        display: none;
    }
    .holder-slider-product{
        padding: 0;
    }
    .list-models .holder-block {
        padding: 29px 5% 38px;
    }
    .list-models li{
        padding: 0 15px;
        margin: 0 0 30px;
        font-size: 22px;
    }
    .list-models .holder-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .list-models .ruble {
        font-size: 26px;
    }
    .list-models .btn-buy span {
        padding: 10px 25px;
    }
    .converse.clone-two{
        padding: 20px 0;
    }
    .secondary-flex{
        flex-direction: column-reverse;
    }
    .secondary-flex .holder-text {
        flex: 0 0 100%;
        width: 100%;
        padding: 30px 0 10px;
    }
    .secondary-flex .holder-img {
        flex: 0 0 100%;
        width: 100%;
        height: auto;
    }
    .secondary-flex .holder-img img{
        width: 100%;
        height: auto;
    }
    .promo .holder-text {
        padding: 0 0 0 3vh;
    }
    .speed-list {
        padding: 8vh 0 18px 0;
    }
    .speed-list li {
        margin: 0 1.5vh 10px 0;
        width: 11vh;
    }
}
@media screen and (max-width: 800px){
    .promo-slider .holder-text {
        flex: 0 0 52.7vh;
        width: 52.7vh;
    }
    .promo-slider .holder-img {
        margin: 0 0 0 8%;
    }
    .speed-list li {
        width: 7vh;
    }
}
@media screen and (max-width: 767px){
    .container {
        max-width: 280px;
    }
    .banner__tab {
        display: none;
    }
    .banner__mob {
        display: block;
    }
    .video-block .group {
        flex-direction: column;
    }
    .video-block .video {
        width: 100%;
    }
    .slider-product .price {
        align-items: center;
    }
    .slider-product .ruble {
        margin-bottom: 5px;
    }
    .pop-up-window,
    .btn-window{
        display: none;
    }
    .cal-back {
        margin: 3px 30px;
        padding: 10px 15px;
    }
    .promo-slider {
        height: auto;
        margin: 0 0 50px;
    }
    .promo-slider .container{
        height: auto;
    }
    .promo-slider .slick-slide{
        background: transparent!important;
    }
    .promo-slider .container{
        display: block;
    }
    .promo-slider .holder-img{
        max-width: 80px;
        margin: 0 auto;
        padding: 0;
    }
    .promo-slider .holder-text{
        width: 100%;
        padding: 20px 0 0;
        font-size: 22px;
    }
    .promo-slider .title {
        margin: 0 0 15px;
        font-size: 30px;
    }
    .promo-slider h2 {
        font-size: 38px;
        margin: 0 0 18px;
    }
    .fast {
        padding: 0 0 15px;
        margin: 0 0 30px;
        font-size: 28px;
    }
    .promo-slider p {
        margin: 0 0 30px;
    }
    .speed-list {
        padding: 20px 0;
    }
    .speed-list li {
        width: 65px;
        margin: 0 3% 10px 0;
    }
    .text-right{
        text-align: center;
    }
    .slick-dots{
        position: static;
    }
    .btn-choice {
        padding: 15px 35px;
        font-size: 22px;
    }
    .review {
        padding: 30px 0 1px;
    }
    .slider-review{
        padding: 84px 30px 42px;
    }
    .promo h2 {
        font-size: 32px;
        line-height: 42px;
    }
    .promo span {
        font-size: 26px;
        line-height: 1;
        margin: 0 0 30px;
    }
}
@media screen and (max-width: 650px){
    .section-selection .group{
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
    }
    .want-list {
        overflow: visible;
        padding: 0;
    }
    .holder-slider-product{
        float: none;
        width: 100%;
    }
    .slider-product{
        padding: 0 40px;
        margin: 0 0 30px;
    }
    .slider-product .slick-next, .slider-product .slick-prev{
        position: absolute;
        top: 50%;
        margin: 0;
        left: 0;
        display: block!important;
    }
    .slider-product .slick-prev {
        transform: rotate(90deg) rotateY(0deg);
        -webkit-transform: rotate(90deg) rotateY(0deg);
        -moz-transform: rotate(90deg) rotateY(0deg);
        -o-transform: rotate(90deg) rotateY(0deg);
        -ms-transform: rotate(90deg) rotateY(0deg);
    }
    .slider-product .slick-next{
        left: auto;
        right: 0;
        transform: rotate(-90deg) rotateY(0deg);
        -webkit-transform: rotate(-90deg) rotateY(0deg);
        -moz-transform: rotate(-90deg) rotateY(0deg);
        -o-transform: rotate(-90deg) rotateY(0deg);
        -ms-transform: rotate(-90deg) rotateY(0deg);
    }
    .list-models li{
        width: 100%;
        height: auto!important;
    }
    .list-models .holder-img{
        min-height: 0;
    }
    .video-block .video {
        /*float: none;*/
        width: 100%;
        margin: 0 0 20px;
    }
    .promo-header {
        height: 9vh;
    }    
    .promo-header .promo-logo a img {
        height: 7vh;
    }
    .promo {
        height: auto;
        padding: 20px 0;
    }
    .promo .container{
        display: block;
    }
    .promo .holder-img {
        height: auto;
        max-width: 360px;
        width: 100%;
        margin: 0 auto 30px;
    }
    .promo h2 {
        font-size: 28px;
        line-height: 38px;
        margin: 0 0 20px;
    }
    .speed-list {
        padding: 20px 0 0;
    }
}
@media screen and (max-width: 630px){
    .resolutions630 {
        display: block;
    }
    .tel-head {
        margin: 7px 12px 7px;
    }
    .section-list {
        padding: 0 0 0 45px;
    }
    .list-radio{
        text-align: center;
    }
    .constructor-group .list-radio{
        text-align: left;
    }
    .list-radio li{
        margin: 0 6px 12px;
    }
    .radio-text,
    .list-radio .holder-img {
        width: 85px;
        padding: 6px;
        height: 85px;
    }
    .list-radio .holder-img span {
        font-size: 11px;
    }
    .radio-text{
        font-size: 10px;
    }
    .radio-text span span {
        font-size: 16px;
    }

}
@media screen and (max-width: 500px){
    .promo-slider .title {
        font-size: 26px;
    }
    .promo-slider h2 {
        font-size: 30px;
    }
    .converse .holder-text {
        font-size: 24px;
        line-height: 32px;
    }
    .converse p {
        margin: 0 0 30px;
    }
    .black-btn {
        padding: 15px 30px;
    }
    .speed-list li {
        width: 59px;
    }
    .radio-text, .list-radio .holder-img {
        width: 80px;
        height: 80px;
    }
}
