/* FUTURA */
@font-face {
    font-family: "Futura New"; 
    src: url("../fonts/Futura/FuturaNewMedium-Reg.eot"); 
    src: url("../fonts/Futura/FuturaNewMedium-Reg.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Futura/FuturaNewMedium-Reg.woff") format("woff"), 
    url("../fonts/Futura/FuturaNewMedium-Reg.woff") format("woff2"), 
    url("../fonts/Futura/FuturaNewMedium-Reg.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
}

@font-face {
    font-family: "Futura New"; 
    src: url("../fonts/Futura/FuturaNewLight-Reg.eot"); 
    src: url("../fonts/Futura/FuturaNewLight-Reg.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Futura/FuturaNewLight-Reg.woff") format("woff"), 
    url("../fonts/Futura/FuturaNewLight-Reg.woff") format("woff2"), 
    url("../fonts/Futura/FuturaNewLight-Reg.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 300; 
}

@font-face {
    font-family: "Futura New"; 
    src: url("../fonts/Futura/FuturaNewLight-Obl.eot"); 
    src: url("../fonts/Futura/FuturaNewLight-Obl.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Futura/FuturaNewLight-Obl.woff") format("woff"), 
    url("../fonts/Futura/FuturaNewLight-Obl.woff") format("woff2"), 
    url("../fonts/Futura/FuturaNewLight-Obl.ttf") format("truetype"); 
    font-style: oblique; 
    font-weight: 300; 
}

/* ROBOTO */
@font-face {
    font-family: "Roboto"; 
    src: url("../fonts/Roboto/Robotobold.eot"); 
    src: url("../fonts/Roboto/Robotobold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto/Robotobold.woff") format("woff"), 
    url("../fonts/Roboto/Robotobold.woff") format("woff2"), 
    url("../fonts/Roboto/Robotobold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
}

@font-face {
    font-family: "Roboto"; 
    src: url("../fonts/Roboto/Robotoitalic.eot"); 
    src: url("../fonts/Roboto/Robotoitalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto/Robotoitalic.woff") format("woff"), 
    url("../fonts/Roboto/Robotoitalic.woff") format("woff2"), 
    url("../fonts/Roboto/Robotoitalic.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: normal; 
}

@font-face {
    font-family: "Roboto"; 
    src: url("../fonts/Roboto/Robotolightitalic.eot"); 
    src: url("../fonts/Roboto/Robotolightitalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto/Robotolightitalic.woff") format("woff"), 
    url("../fonts/Roboto/Robotolightitalic.woff") format("woff2"), 
    url("../fonts/Roboto/Robotolightitalic.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: 300; 
}
