.catalog {
    padding-bottom: 0;
    &__filter {
        padding: 15px 20px;
        border: 1px solid #c0c1c6;
    }
    &__item {
        margin-bottom: 40px;
    }
    &__img {
        position: relative;
        &:hover {
            .catalog__img-h {
                opacity: 1;
            }
        }
        &-h {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }
    &__category {
        display: block;
        margin-bottom: 10px;
        color: #a6b0b2;
    }
    &__wrap {
        padding-top: 30px;
        padding-bottom: 0;
    }
}