.footer {
    padding-top: 90px;
    padding-bottom: 90px;
    &_s {
        background-color: #f0f2f4;
    }
    .navbar {
        padding: 0;
        align-items: flex-start;
        justify-content: space-between;
        .navbar-collapse {
            flex-grow: 0;
        }   
    }
    .navbar-nav {
        flex-direction: column;
        .nav-item {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .nav-link {
            display: inline-block;
            padding: 0!important;
            color: #494b51;
            font-size: 14px;
            letter-spacing: 0.35px;
            text-transform: uppercase;
        }
        .dropdown-toggle {
            position: relative;
        }
        .dropdown-toggle::after {
            position: absolute;
            bottom: 7px;
            right: -18px;
            border: none;
            width: 9px;
            height: 5px;
            background: url(../img/icons/dropdown-menu.png) no-repeat center center / cover;
        }
    }
    .nav {
        &__list {
            flex-direction: column;
        }
        &__item {
                padding: 0;
                margin-bottom: 20px;
                border: none;
                line-height: 1.5;
                &:last-child {
                    margin-bottom: 0;
                }
            a {    
                line-height: 1.5;
                color: #494b51;
                font-size: 14px;
                letter-spacing: 0.35px;
                text-transform: uppercase;
            }
        }
    }
    .phone {
        text-align: right;
        margin-bottom: 10px;
        &::before {
            bottom: 12px;
        }
    }
    .feedback {
        justify-content: flex-end;
        &__btn_inst {
            margin: 0 14px;
        }
        &__btn {
            font-size: 14px;
        } 
    }
    .container {
        padding: 0;
    }
}