.interesting {
    padding-top: 95px;
    padding-bottom: 90px;
    &__title {
        margin-bottom: 55px;
    }
    &__filter {
        margin-bottom: 80px;
        display: flex;
        align-items: center;
        &-title {
            margin-right: 13px;
            color: #242528;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.44px;
        }
        .dropdown-toggle {
            margin-left: 17px;
            padding: 9px 13px;
            background-color: transparent;
            color: #242528;
            font-size: 14px;
            letter-spacing: 0.44px;
            border: none;
            &:focus {
                background-color: #e7e8ec;
            }
        }
        .dropdown-menu {
            min-width: 241px;
            width: auto;
            max-width: auto;
            padding: 30px 25px;
            box-shadow: 0 7px 48px rgba(0, 0, 0, 0.11);
            background-color: #ffffff;
            border: none;
        }
    }
    &__sort {
        margin-bottom: 23px;
        display: flex;
        align-items: center;
        &:last-child {
            margin-bottom: 0;
        }
        .check {
            width: 14px;
            height: 13px;
            border: 1px solid #c1c1c1;
            background-color: transparent;
            margin-right: 12px;
        }
        label {
            margin-bottom: 0;
            color: #878991;
            font-size: 13px;
            letter-spacing: 0.44px;
        }
    }
}