.product {
    margin-top: 30px;
    &__imgs {
        padding-right: 15px;
    }
    &__main-img {
        border: 1px solid #bcc0cc;
        width: 100%;
        position: relative;
    }
    &__main-bg {
        width: 80%;
        height: 80%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: contain;
    }
    &__imgs-list {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }
    &__imgs-item {
        border: 1px solid #bcc0cc;
        width: 22.5%;
        height: 125px;
        position: relative;
        &:hover {
            cursor: pointer;
        }
        img {
            width: 80%;
            height: 80%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: contain;
        }
    }
    .positioner, .star_holder {
        height: 10px;
    }
    .starbox .stars .star_holder .star {
        width: 17px;
    }
    .starbox .colorbar {
        background-color: #000;
    }
    &__info {
        color: #484e5e;
    }
    &__article {
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
        letter-spacing: 0.23px;
        text-transform: uppercase;
        color: #a8abb3;
    }
    &__title {
        margin-bottom: 14px;
        color: #242528;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 0.46px;
    }
    .rating__wrap {
        display: flex;
        align-items: center;
    }
    &__rating {
        height: 10px;
    }
    &__reviews {
        margin-left: 7px;
        font-size: 14px;
        letter-spacing: 0.23px;
        letter-spacing: 0.2px;
    }
    &__price {
        display: block;
        margin-top: 10px;
        margin-bottom: 15px;
        color: #232021;
        font-size: 48px;
        font-weight: 800;
        letter-spacing: 0.13px;
        span {
            font-family: 'Montserrat';
            font-weight: 700;
        }
    }
    &__desc {
        margin-bottom: 30px;
        padding: 30px 0;
        border-top: 1px solid #bcc0cc;
        border-bottom: 1px solid #bcc0cc;
        color: #484e5e;
        font-size: 16px;
        letter-spacing: 0.26px;
        line-height: 24px;
        span {
            color: #27292e;
            font-weight: 500;
        }
        li {
            margin-bottom: 12px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__send {
        margin-top: 35px;
        display: block;
        padding: 18px 20px;
        width: 100%;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.21px;
        text-transform: uppercase;
        text-align: center;
        background-color: #7a0039;
        border: none;
        &:hover {
            cursor: pointer;
        }
    }
    .switches {
        display: flex;
        align-items: center;
        .switch {
            display: none;
        }
    }
    .colors {  
        &__item {
            width: 21px;
            height: 21px;
            &_1 {
                background-color: #1e1c1c;
            }
            &_2 {
                background-color: #6a7f76;
            }
            &_3 {
                background-color: #765625;
            }
        } 
        .color:checked + label{
            width: 28px;
            height: 28px;
        }
        label {
            margin-right: 13px;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                cursor: pointer;
            }
        }
        &__title {
            margin-right: 74px;
        }
    }
    .size {
        margin-top: 25px;
        margin-bottom: 25px;
        &__title {
            margin-right: 54px;
        }
        &__item {
            margin-right: 14px;
            width: 31px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            border: 1px solid #c6cbd9;
            font-size: 11px;
            text-transform: uppercase;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                cursor: pointer;
            }
        }
        .size:checked + label{
            background-color: #484e5e;
            color: #fff;
        }
    }
    .quantity {
        &__wrap {
            display: inline-block;
        }
        &__title {
            margin-right: 16px;
        }
        &__btn {
            width: 28px;
            height: 28px;
            background-color: #242528;
            font-size: 20px;
            color: #fff;
            text-align: center;
            line-height: 28px;
            border: none;
            &:hover {
                cursor: pointer;
            }
        }
        &__val {
            width: 32px;
            height: 28px;
            color: #1d1e1f;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            line-height: 28px;
            border: none;
        }
    }
}
.zoomWindow {
    top: 80px!important;    
}