.reviews {
    padding-top: 85px;
    &__title {
       margin-top: 10px;
    }
    &__list {
        margin-top: 48px;
    }
    &__user {
        margin-right: 58px;
    }
    &__item {
        padding: 34px 150px 50px 45px;
        border: 1px solid #d1d5e0;
        display: flex;
    }
    &__photo {
        width: 67px;
        height: 65px;
        background-color: #dde1e5;
        border-radius: 50%;
    }
    &__content {
        padding-top: 10px;
    }
    &__name {
        display: block;
        margin-bottom: 30px;
        color: #484e5e;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.26px;
    }
    &__text {
        color: #484e5e;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.26px;
    }


    &__rating {
        margin-top: 22px;
    }

    .starbox .stars .star_holder .star {
        width: 13px;
    }
    .positioner, .stars  {
        height: 10px;
    }
    .starbox .colorbar {
        background-color: #000;
    }
    
}