.subscription {
    padding-top: 65px;
    padding-bottom: 57px;
    background: url(../img/subscription.jpg) no-repeat center center / cover;
    &__wrap {
        padding: 55px 100px;
        box-shadow: 0 8px 44px rgba(0, 0, 0, 0.18);
        background-color: #242528;
    }
    &__desc {
        padding: 0 20px;
        margin-top: 20px;
        color: #eef0f4;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.25px;
        line-height: 24px;
    }
    &__form {
        margin-top: 45px;
        display: flex;
        justify-content: center;
        .subscription__mail {
            width: 295px;
            color: #fff;
            background-color: transparent;
            border: 1px solid #969798;
            padding-left: 30px;
        }
    }
}