.partners {
    margin-top: -650px;
    margin-bottom: 95px;
    overflow: hidden;
    * {
        position: relative;
        z-index: 2;
    }
    .container {
        padding: 58px 0 67px 0;
        position: relative;
        &::before {
            box-shadow: 0 19px 32px rgba(8, 31, 47, 0.14);
            z-index: 1;
            content: '';
            width: 20000px;
            height: 100%;
            background-color: #fff;
            position: absolute;
            left: -80px;
            top: 0;
        }
    }
    &_title {
        margin: 0;
        margin-bottom: 28px;
        background: url(../img/logo-min.png) no-repeat center right;
        color: #000;
        font-family: "Montserrat";
        font-size: 48px;
        font-weight: 600;
        letter-spacing: -1.2px;
        span {
            letter-spacing: -1.2px;
            color: #fd002a;
        }
    }
}
