.services {
    background: #f8f8f9 url(../img/services-bg.png) no-repeat top center;
    padding-top: 68px;
    padding-bottom: 430px;
    position: relative;
    * {
        position: relative;
        z-index: 2;
    }
    &-type {
        margin-bottom: 47px;
    }
    &-title {
        margin: 0;
        color: #000000;
        font-family: "Montserrat";
        font-size: 66px;
        font-weight: 300;
        line-height: 55px;
        text-transform: uppercase;
        letter-spacing: -1.65px;
    }
    &-desc {
        margin-top: 30px;
        font-size: 15px;
        line-height: 30px;
    }
    &-icon {
        display: block;
        margin: 0 auto;
    }
    article {
        margin-bottom: 95px;
    }
    &::before {
        background: url(../img/services-right-bg.png) no-repeat;
        position: absolute;
        right: 0;
        top: 0;
        content: '';
        width: 1187px;
        height: 897px;
    }
    &::after {
        background: url(../img/services-left-bg.png) no-repeat;
        position: absolute;
        left: 0;
        top: 395px;
        content: '';
        width: 890px;
        height: 2116px;
    }
}