.btn {
    padding: 16px 30px 13px 30px;
    border-radius: 0;
    color: #7a0039;
    border: 1px solid #7a0039;
    color: #7a0038;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.21px;
    text-transform: uppercase;
    background-color: transparent;
    transition: .3s;
    &:hover {
        background-color: #7a0038;
        color: #fff;
    }
    &_w {
        color: #fff;
        border-color: #fff;
    }
}