.double-slider {
    background-color: #242528;
    color: #fff;
    position: relative;
    &__item {
        position: relative;
        height: 450px;
        max-height: 450px;
    }
    &__img {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &__content {
        padding-top: 70px;
    }
    &__title {
        margin-bottom: 35px;
    }
    &__desc {
        padding-right: 30px;
        margin-bottom: 40px;
        color: #eef0f4;
        font-size: 16px;
        letter-spacing: 0.25px;
        line-height: 24px;
    }
    &__arrows {
        position: relative;
        &-wrap {
            position: absolute;
            left: 15px;
            top: -70px;
        }
        .arrow-left {
            margin-right: 5px;
        }
        .arrow-left, .arrow-right {
            background-color: #aeaeaf;
            &:hover {
                background-color: #fff;
            }
        }
    }

}