.feedback {
    display: flex;
    align-items: center;
    &__btn_call {
        width: 18px;
        height: 18px;
        display: block;
        background: url(../img/icons/call.png) no-repeat center center;
    }
    &__btn_inst {
        margin: 0 25px;
        width: 14px;
        height: 14px;
        display: block;
        background: url(../img/icons/inst.png) no-repeat center center;
    }
    
    &__btn_request {
        color: #7a0039;
        font-size: 13px;
        letter-spacing: 0.28px;
        border-bottom: 1px solid #7a0039;
    }
}