.nav {
    &__list {
        display: flex;
    }
    &__item {
        padding: 0 15px;
        border-right: 1px solid #dddfe6;
        line-height: 1em;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
            border-right: none;
        }
        a {
            color: #494b51;
            font-size: 13px;
            letter-spacing: 0.28px;
        }
    }
}