.news-item {
    &__preview {
        margin-bottom: 19px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &__title {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.15px;
        line-height: 27px;
    }
    &__desc {
        margin-bottom: 20px;
        color: #838897;
        font-size: 16px;
        letter-spacing: 0.13px;
        line-height: 24px;
    }
    &__more {
        color: #7a0039;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.37px;
        position: relative;
        &::before {
            transition: .3s;
            content: '';
            position: absolute;
            right: -30px;
            bottom: 2px;
            width: 15px;
            height: 10px;
            background: url(../img/icons/news-arrow.png) no-repeat center center / cover;
        }
        &:hover {
            &::before {
                right: -35px;
            }
        }
    }
}