.header {
	min-height: 650px;
	display: flex;
	flex-direction: column;
	background: #0b203b url(../img/header_bg.jpg) no-repeat center top / cover;
	&__title {
		margin-top: 200px;
		text-align: center;
		color: #fffffb;
		font-family: "Open Sans";
		font-weight: 600;
		font-size: 42px;
		line-height: 1.25em;
	}
}

.header-nav {
	padding: 10px 0;
	font-family: "Montserrat";
	background-color: #0d2645;
	opacity: 0.9;
	color: #fff;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__wrap {
		display: flex;
		align-items: center;
	}
	&__links {
		margin-left: 12px;
		font-size: 15px;
		font-weight: 500;
		text-transform: uppercase;
		display: flex;
		li {
			margin-right: 35px;
			&:last-child {
				margin-right: 0;
			}
			i {
				margin-right: 12px;
			}
		}
		a {
			color: inherit;
		}
	}
}

.header-info {
	font-size: 15px;
	font-weight: 500;
	&__phone {
		font-weight: 600;
		margin-right: 28px;
	}
	&__rate {
		margin-right: 27px;
		i {
			margin-right: 9px;
		}
	}
	&__buy {
		margin-right: 27px;
		i {
			margin-right: 12px;
		}
	}
	&__search {
		background: none;
		border: none;
		i {
			font-size: 20px;
			color: #fff;
		}
	}
}

.main-nav {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
	&__link {
		flex-grow: 1;
		display: block;
		padding: 20px 40px 17px 40px;
		width: 16.66%;
		border-radius: 10px 10px 0 0;
		border: 1px solid #173355;
		background-color: #0d2645;
		opacity: 0.9;
		text-align: center;
		color: #fff;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 400;
		&_act {
			background-color: #0b203b;
			color: #59b1e3;
			border: none;
		}
		i {
			font-size: 18px;
			display: block;
			margin-bottom: 20px;
		}
	}
}

@media screen and (max-width: 1310px) {
	.header-nav {
		&__links {
			font-size: 14px;
			li {
				margin-right: 20px;
			}
		}
	}
	.header-info {
		font-size: 14px;
		&__phone {
			margin-right: 20px;
		}
		&__rate {
			margin-right: 20px;
		}
		&__buy {
			margin-right: 20px;
		}
	}
	.main-nav {
		&__link {
			padding-left: 20px;
			padding-right: 20px;
			i {
				margin-bottom: 15px;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.header {
		min-height: 500px;
		&__title {
			margin-top: 130px;
		}
	}
	.header-nav {
		&__links {
			display: none;
		}
	}
	.main-nav {
		&__link {
			font-size: 13px;
		}
	}
}

@media screen and (max-width: 767px) {
	.header {
		&__logo {
			img {
				width: 120px;
			}
		}
		&__title {
			margin-top: 120px;
		}
	}
	.header-info {
		font-size: 13px;
		&__phone {
			margin-right: 13px;
		}
		&__rate {
			margin-right: 13px;
		}
		&__buy {
			margin-right: 13px;
		}
	}
	.main-nav {
		flex-wrap: wrap;
		&__link {
			border-radius: 0;
			width: 33.33%;
			&:nth-child(1) {
				border-radius: 10px 0 0 0;
			}
			&:nth-child(3) {
				border-radius: 0 10px 0 0;
			}
		}
	}
}

@media screen and (max-width: 575px) {
	.header {
		min-height: 560px;
		background-position: -830px 25px;
		&__title {
			margin-top: 135px;
			font-size: 24px;
		}
	}
	.header-info {
		&__phone {
			display: none;
		}
		&__rate {
			
		}
		&__buy {
			display: none;
		}
		&__search {
			display: none;
		}
	}
	.main-nav {
		flex-wrap: wrap;
		&__link {
			padding: 14px 10px;	
			border-radius: 0;
			width: 50%;
			font-size: 14px;
			i {
				font-size: 14px;
			}
			&:nth-child(1) {
				border-radius: 10px 0 0 0;
			}
			&:nth-child(2) {
				border-radius: 0 10px 0 0;
			}
			&:nth-child(3) {
				border-radius: 0;
			}
			&:nth-child(4) {
				padding-bottom: 8px;
				i {
					margin-bottom: 3px;
				}
			}
			&:nth-child(5) {
				padding-bottom: 8px;
				i {
					margin-bottom: 3px;
				}
			}
		}
	}
}