.order {
    margin-top: 30px;

    &__item {
        padding: 35px 50px 12px 50px;
        border-radius: 11px;
        background-color: #0d2645;
    }

    &__info {
        margin-bottom: 22px;
        display: flex;
        align-items: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
    }

    &__date {
        color: #97a8ba;
        margin-left: 37px;
    }

    &__price {
        margin-left: auto;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        li {
            position: relative;
            &:last-child {
                .order__img {
                    margin-right: 0;
                }
            }
        }
    }
    &__img {
        background-color: #2b435f;
        width: 100%;
        height: 100%;
        height: 118px;
        width: 100px;
        margin-right: 17px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img_last {
        opacity: .1;
    }
    &__still {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        color: #fff;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 1.2px;   
    }
    &__points {
        color: #57addf;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 1.2px;
    }
    &__btn {
        cursor: pointer;
        background-color: transparent;
        margin-top: 30px;
        width: 200px;
    }
    &__details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    &__status {
        margin-top: 47px;
        background-color: rgba(89, 177, 227, .29);
        height: 2px;
        width: 100%;
        position: relative;
        .circle {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            &_left {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
            &_right {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }
        &_way {
            &::before {
                height: 100%;
                width: 50%;
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                background-color: #59b1e3;
            }
            &::after {
                width: 32px;
                height: 17px;
                content: '';
                position: absolute;
                left: 50%;
                top: -25px;
                transform: translateX(-50%);
                background: url(../img/icons/way.png) no-repeat center center;
            }
            .circle {
                background-color: #59b1e3;
            }
        }
        &_delivered {
            &::before {
                height: 100%;
                width: 100%;
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                background-color: #cf8903;
            }
            .circle {
                background-color: #cf8903;
                &_right {
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    background: #cf8903 url(../img/icons/checked.png) no-repeat center center;
                }
            }
        }
    }
    &__singnatures {
        margin-top: 15px;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        span {
            color: #fff;
            font-size: 14px;
            letter-spacing: 0.7px;
        }
    }
    &__detailed-way {
        padding: 0 3px;
        padding-bottom: 3.5px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        background: transparent url(../img/order/dotted.png) repeat-x left bottom;
        border: none;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.7px;
        color: #fff;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            right: -13px;
            top: calc(50% - 2px);
            width: 7px;
            height: 4px;
            background: url("../img/icons/arrow-order.png") no-repeat center center;
        }
    }
    .detailed-rot {
        &::before {
            transform: rotate(180deg);
        }
    }
}

.accordion {
    width: 100%;
    margin: 0 auto
}

.accordion .accordion_item {
    margin-bottom: 1px;
    position: relative
}
.accordion .way-info {
    display: none;
    padding: 0;
    overflow: hidden;
    background-color: #0d2645;
    border: none;
    margin-top: -6px;
}

.accordion .order-info {
    display: none;
    overflow: hidden;
    background-color: #0d2645;
    border: none;
}

.accordion .info_item {
    margin-bottom: 10px
}

.way-info {
    color: #fff;
    font-size: 14px;
    &__step {
        margin-bottom: 22px;
    }
    &__date {
        font-weight: 600;
        letter-spacing: 0.7px;
    }
    &__desc {
        font-weight: 300;
    }
}

.order-info {
    padding-top: 43px;
    &__name {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
    }
    &__date {
        margin: 22px 0;
        color: #57addf;
        font-size: 14px;
        font-weight: 600;
    }
    &__desc {
        border-top: 2px solid #173355;
        border-bottom: 2px solid #173355;
        padding-top: 25px;
        padding-bottom: 30px;
        li {
            display: flex;
            margin-bottom: 24px;
            color: #ffffff;
            font-size: 14px;
            font-weight: 300;
            color: #d6d6d6;
            line-height: 20px;
            &:last-child {
                margin-bottom: 0;
            }
            span {
                margin-right: 75px;
                display: block;
                min-width: 145px;
                color: #fff;
                font-weight: 600;
            }
        }
    }
    &__request {
        padding-top: 28px;
        padding-bottom: 33px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #4970a1;
    }
    &__price {
        color: #fff;
        font-size: 14px;
        span {
            font-weight: 600;
        }
    }
    &__btn {
        width: 200px;
        border: 2px solid #ef5555;
        color: #ef5555;
        &:hover {
            background-color: transparent;
        }
    }
}

.order-list {
    margin-top: 40px;
    &_head {
        padding: 0;
        color: #fff;
        font-size: 14px;
        letter-spacing: 0.7px;
    }
    &__item {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #173355;
        color: #97a8ba;
        font-size: 18px;
        letter-spacing: 0.9px;
        &_head {
            padding: 0;
            padding-bottom: 25px;
            border-top: none;
        }
    }
    &__product {
        display: flex;
        width: 54%;
    }
    &__quantity {
        width: 20%;      
        text-align: center;  
        span {
            display: none;
        }
    }
    &__price {
        width: 26%;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        .price {
            span {
                display: none;
            }
        }
        .download {
            color: #97a8ba;
            font-size: 14px;
            text-decoration: underline;
        }
    }
    &__img {
        background-color: #2b435f;
        min-width: 127px;
        height: 152px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 70%;
        }
    }
    &__info {
        margin-left: 14px;
        display: flex;
        flex-direction: column; 
        font-size: 18px;
    }
    &__title {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 700;
        color: #97a8ba;
        line-height: 24px;
        span {
            color: #57addf;
        }
    }
    &__desc {
        margin: 0;
        margin-bottom: 18px;  
        color: #97a8ba;
        font-weight: 300;
        line-height: 24px;
    }
    &__status {
        color: #f76163;
        font-weight: 300;
    }
    &__btn {
        width: 200px;
        border: 2px solid #90a1b4;
        &:hover {
            background-color: transparent;
        }
    }
    &__collection {
        padding-bottom: 30px;
    }
    &-collection__wrap {
        margin-top: 18px;
        padding-top: 38px;
        display: flex;
        border-top: 1px solid #173355;
    }
    &__img-wrap {
        margin-right: 14px;
    }
    &__img-title {
        display: block;
        text-align: center;
        margin-top: 26px;
        color: #57addf;
        font-size: 12px;
        font-weight: 300;
    }
}

@media screen and (max-width: 991px) {
    .order {
        &__img {
            width: 50px;
            height: 50px;
            img {
                max-width: 80%;
            }
        }
        &__list {
            align-items: flex-start;
        }
    }
    .order-list {
        &__product {
            flex-direction: column;
        }
        &__img {
            width: 50%;
            margin-bottom: 15px;
        }
        &__info {
            margin: 0;
        }
        &__quantity {
            width: 15%;
        }
        &__price {
            width: 32%;
        }
    }
}

@media screen and (max-width: 767px) { 
    .order {
        &__content {
            flex-direction: column;
        }
        &__details {
            margin-top: 20px;
        }
        &__img {
            width: 70px;
            height: 75px;
        }
        &__btn {
            margin-top: 18px;
        }
    }

}

@media screen and (max-width: 575px) { 
    .order {
        &__info {
            flex-wrap: wrap;
        }
        &__item {
            padding: 15px 20px;
        }
        &__num {
            width: 50%;
            line-height: 18px;
        }
        &__date {
            margin-top: 14px;
            width: 100%;
            margin-left: 0;
            order: 3;
        }
        &__price {
            order: 2;
        }
        &__list {
            flex-wrap: wrap;
            justify-content: space-between;
            li {
                width: 48%;
                margin-bottom: 10px;
            }
        }
        &__img {
            width: 100%;
            min-height: 147px;
            height: auto;
        }
        &__still {
            font-size: 29px;
        }
        &__btn {
            width: 255px;
        }
        &__singnatures {
            margin-bottom: 34px;
            span {
                font-size: 11px;
            }
        }
        .order-info {
            &__name {
                font-size: 12px;
                line-height: 18px;
            }
            &__date {
                margin-top: 11px;
                font-size: 11px;
            }
            &__desc {
                border-top: none;
                li {
                    font-size: 12px;
                    span {
                        margin-right: 0;
                        min-width: 133px;
                    }
                }
            }
            &__request {
                flex-direction: column;
            }
            &__price {
                margin-bottom: 19px;
            }
            &__btn {
                width: 240px;
            }
        }
        .way-info {
            font-size: 11px;
        }
        .order-list {
            margin-top: 0;
            &__item_head {
                display: none;
            }
            &__item {
                padding-top: 30px;
                flex-direction: column;
            }
            &__img {
                padding: 55px 0;
                width: 100%;
                height: auto;
            }
            &__product {
                width: 100%;                
            }
            &__quantity {
                padding: 33px 0;
                width: 100%;
                display: flex;
                justify-content: space-between;
                border-top: 2px solid #173355;
                border-bottom: 2px solid #173355;
                span {
                    display: block;
                    color: #ffffff;
                    font-size: 14px;
                }
            }
            &__status {
                margin-bottom: 27px;
                width: 100%;
                font-size: 14px;
            }
            &__title {
                font-size: 14px;
            }
            &__desc {
                font-size: 14px;
            }
            &__price {
                width: 100%;
                justify-content: flex-start;
                align-items: flex-start;
                .price {
                    padding: 30px 0;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    span {
                        display: block;
                        color: #ffffff;
                        font-size: 14px;
                    }
                }
                .download {
                    margin-bottom: 24px;
                    width: 100%;
                    text-align: center;
                }
            }
            &__btn {
                width: 240px;
            }
            .star-title_collection {
                font-size: 14px;
            }
            &-collection__wrap {
                margin-top: 22px;
                display: flex;
                justify-content: space-between;
                .order-list__img-wrap {
                    width: 48%;
                    margin-right: 0;
                }
                .order-list__img {
                    min-width: auto;
                    padding: 25px 0;
                }
            }
            &__img-title {
                margin-top: 16px;
                font-size: 11px;
            }
        }
    }
} 