.recommended {
	padding-top: 50px;
	padding-bottom: 95px;
}

.recommended-list {
	padding-left: 60px;
	position: relative;
	&__arrow {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background: none;
		border: none;
		color: #fff;
		font-size: 20px;
		&:hover {
			cursor: pointer;
		}
	}
	&__slider {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		width: 25%;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		&:hover {
			cursor: pointer;
		}
		img {
			max-width: 90%; 
		}
		&_act {
			background: url(../img/rec-glow.png) no-repeat center center / contain;
			background-size: 350px 350px;
		}
	}
	&__img {
		padding: 90px 0;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		img {
			max-width: 100%;
		}
	}
}

.recommended-show {
	margin-top: 50px;
	&__item {
		display: flex;
	}
	&__img {
		width: 25%;
		img {
			max-width: 100%;
		}
	}
	&__info {
		width: 75%;
		padding-top: 65px;
		padding-bottom: 85px;
		border-top: 1px solid #213754;
		border-bottom: 1px solid #213754;
	}
	&__name {
		margin-bottom: 40px;
		font-size: 29px;
		color: #59b1e3;
		span {
			font-size: 18px;
			font-weight: 300;
			color: #97a8ba;
		}
	}
	&__wrap {
		display: flex;
	}
	&__desc {
		margin: 0;
		width: 65%;
		color: #97a8ba;
		line-height: 1.25em;
		font-weight: 300;
		font-size: 21px;
	}
	&__pay {
		margin-left: 40px;
		display: flex;
		flex-direction: column;
	}
	&__price {
		margin-bottom: 10px;
		font-size: 32px;
		color: #fff;
	}
	&__bonus {
		color: #59b1e3;
		font-size: 24px;
	}
}


@media screen and (max-width: 1310px) {
	.recommended-list__item_act {
		background-size: 270px 270px;
	}
}

@media screen and (max-width: 991px) {
	.recommended-list__item_act {
		background-size: 200px 200px;
	}
	.recommended-list {
		&__item {
			img {
				max-width: 55%;
			}
		}
	}
	.recommended-show {
		&__info {
			padding-top: 45px;
    		padding-bottom: 45px;
		}
		&__desc {
			font-size: 16px;
		}
		&__price {
			font-size: 22px;
		}
		&__bonus {
			font-size: 20px;
		}
	}
}


@media screen and (max-width: 767px) {
	.recommended-list {
		&__item_act {
			background-size: 140px 140px;
		}
		&__img {
			padding: 60px 0;
		}
	}
	.recommended-show {
		margin: 0;
		&__item {
			flex-direction: column;
		}
		&__img {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 50%;
			}
		}
	}
}

@media screen and (max-width: 575px) {
	.recommended-list__slider {
		flex-direction: column;
	}
	.recommended-show {
		display: none;
		&__item {
			display: block;
		}
		&__info {
			width: 100%;
			padding-top: 0;	
			display: none;
			border-top: none;
		}
		&__img {
			display: none;
		}
		&__wrap {
			flex-direction: column;
		}
		&__desc {
			width: 100%;
			font-size: 14px;
		}
		&__pay {
			margin-top: 20px;
			width: 100%;
			margin-left: 0;
		}
		&__price {
			font-size: 18px;
		}
		&__bonus {
			font-size: 14px;
		}
		&__name {
			margin-bottom: 20px;
			font-size: 18px;
			span {
				font-size: 14px;
			}
		}
	}
	.recommended-list {
		margin-top: 30px;
		padding-left: 0;
		&__item_act {
			background-size: 310px 310px;
		}
		&__arrow {
			display: none;
		}
		&__item {
			width: 100%;
			flex-direction: column;
			align-items: center;
		}
		&__img {
			align-items: center;
			padding: 40px 0;
			width: 100%;
		}
	}
}
