.btn {
    transition: .5s;
    color: #000;
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    display: inline-block;
    padding: 25px 15px 25px 35px;
    min-width: 226px;
    border: 2px solid #000;
    position: relative;
    &::before {
        transition: .5s;
        position: absolute;
        right: -16px;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        height: 2px;
        width: 32px;
        background-color: #000;
    }
    &:hover {
        background-color: #0e0f11;
        color: #fff;
        &::before {
            background-color: #fff;
        }
    }
    &_portfolio {
        margin-left: auto;
    }
}   