.contacts {
    width: 100%;
    padding-left: 120px;
    display: flex;
    justify-content: space-between;
    &__el {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__number {
        color: #fff;
        font-family: "Montserrat";
        font-size: 20px;
        font-weight: 600;
        line-height: 18px;
    }
    &__city {
        color: #717377;
        font-family: "Montserrat";
        font-size: 11px;
        font-weight: 500;
        line-height: 18px;
    }
}